#body
{
    background-color: #233142;
}

body h1
{
    font-weight: bold;
    font-size: 5vw;
    /* font-size: 4vw; */
    font-family: 'Montserrat', sans-serif;
    color: #233142;
    padding-bottom: 0.3em;
}



body h2
{
    /* font-weight: bold; */
    /* font-size: 7.14em; */
    font-family: 'Open Sans', sans-serif;
    color: #233142;
    /* font-size: 1.5vw; */
    padding-bottom: 1em;
}

body p
{
    font-family: 'Open Sans', sans-serif;
    color: #233142;
    font-size: 1.5em;
    /* font-size: 1vw; */
}

body .btn
{
    background-color: #233142;
    color: white;
    background-image: linear-gradient(#455D7A, #233142);
    border: none;
}

body .btn:hover
{
    background-color: #233142;
    color: white;
    background-image: none;
}


.navbar
{
    background-color: none;
    border-radius: 0%;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.nav.navbar  
{
    margin: 0;
}

/* #ios-app
{
    background-image: url("/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg");
} */

#myNavbar > ul > li:nth-child(2) > a
{
    margin: 0%;
}

.navbar li a
{
    font-family: 'Open Sans', sans-serif;
    color: white;
    /* font-size: em; */
}

#myNavbar > ul > li:nth-child(2) > a:hover 
{
    background-color: #233142;
    background-image: none;
}

#myNavbar > ul > li:nth-child(1) > a:hover 
{
    color: #455D7A;
    background-color: #233142 ;
}

.header-section
{
    background-color: white;
    padding: 2.5vw;
    margin-top: 1em;
    margin-bottom: 3em;
}

.experience-section
{
    background-color: white;
    padding: 2.5vw;
    margin-top: 3em;
    margin-bottom: 3em;
}

#experience-row
{
    margin-top: 3em;
}

#experience-row p
{
    padding: 0.5em;
}

#experience-panel img
{
    max-width: 250px;
    margin: auto;
}

.call-to-action-section
{
    background-color: white;
    padding: 2.5vw;
    margin-top: 3em;
    margin-bottom: 3em;
}

#call-to-action-row
{
    margin-top: 2.3em;
}

.review-section
{
    background-color: white;
    padding: 2.5vw;
    margin-top: 3em;
    margin-bottom: 3em;
}

.about-us-section
{
    background-color: white;
    padding: 2.5vw;
    margin-top: 3em;
    margin-bottom: 3em;
}

.email-signup-section.row
{
    background-color: white;
    padding: 2.5vw 5vw 2.5vw 5vw;
    /* margin-top: 3em;
    margin-bottom: 3em; */
    margin: 1.5vw 2.5vw 1.5vw 2.5vw;
}


#mce-EMAIL\ email-input
{
    width: 30vw;
    /* border-right: none; */
    margin-right: -5px;
    border-radius: 0vw;
}

#mc-embedded-subscribe\ submit-button
{
    border-radius: 0vw;
}


.email-signup-section h3
{
    font-family: 'Montserrat', sans-serif;
    color:#F95959;
    font-weight: bold;

}

.email-signup-section h2
{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:#233142;

}

.email-signup-section button
{
    background-color: #F95959;
    color: white;
    background-image: linear-gradient(#F95959, #EB0000);
    border: none;
}

footer .row small
{
    font-family: 'Open Sans', sans-serif;
    color: white;
}

footer
{
    padding-bottom: 3em;
}

#footer-links 
{
    padding: 0%;
}

#footer-links h4
{
    margin: 0%;
}


@media only screen and (max-width: 850px) 
{
    body h1 
    {
        font-size: 12vw;
    }

    body h2
    {
        font-size: 5.5vw;
    }

    body p
    {
        font-size: 1em;
    }

        .email-signup-section h3
    {
        font-size: 5vw;
    }

    .email-signup-section h2
    {
        font-size: 5vw;
    }

    #social-icons
    {
        /* padding-left: 30%; */
        width: 100%;
        margin: auto;
    }

    #mce-EMAIL\ email-input
    {
        width: 70vw;
        /* border-radius: 0%; */
        margin: auto;
        border-right: 1px solid #ccc;
    }

    #mc-embedded-subscribe\ submit-button
    {
        width: 70vw;
        margin: auto;
    }

  }
