/* 

Font Styles
------------
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif; 

*/

div.modal-content
{
    background-image: linear-gradient(to bottom right, #455D7A, #233142 );
}

.navbar-brand
{
    padding-top: 0.625em;
}

p.creatorBio
{
    font-size: 1.0625em;
    font-family: 'Open Sans', sans-serif;
    color: #E3E3E3;
}

h1.creatorName
{
    font-weight: bold;
    font-size: 2.125em;
    font-family: 'Montserrat', sans-serif;
    color: #E3E3E3;
}

h1#contentTitle
{
    font-size: 1.0625em;
    font-family: 'Open Sans', sans-serif;
    color: #E3E3E3;
}

.mind-snack-section
{
    font-weight: bold;
    font-size: 2.125em;
    font-family: 'Montserrat', sans-serif;
    color: #E3E3E3;
}

.category h1
{
    font-weight: bold;
    font-size: 2.125em;
    font-family: 'Montserrat', sans-serif;
    color: #455D7A;
}
.page-header h1
{
    font-weight: bold;
    font-size: 2.125em;
    font-family: 'Montserrat', sans-serif;
    color: #455D7A;
}

button.btn
{
    font-weight: bold;
    font-size: 1.0625em;
    font-family: 'Montserrat', sans-serif;
}

h4.footerText
{
    font-weight: bold;
    font-size: 1.0625em;
    font-family: 'Montserrat', sans-serif;
    color: #E3E3E3;
}

div > .thumbnail 
{
    
    white-space: nowrap; 
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    width: 16.25em;
    margin-bottom: 0em;
    /* margin-right: 2em;
    margin-left: 2em; */
}

/* img#cover-image
{
    /* width: 18.75em;
    height: 14.06em; */
    /* background-position: center center;
    background-size: cover; */
} */

#contentImage
{
    width: 10.5em;
    height: 10.5em;
    background-position: center center;
    background-size: cover;
    /* float: right; */
}

div > a.titleAnchor
{
    font-weight: bold;
    font-size: 0.9375em;
    font-family: 'Montserrat', sans-serif;
    color: #455D7A;
}


.thumbnail p
{
    font-size: 0.9375em;
    font-family: 'Open Sans', sans-serif;
    color: #455D7A;
}

.seek15button p
{
    font-size: 0.5em;
    font-family: 'Open Sans', sans-serif;
}

#audioPlayerContentName
{
    /* font-weight: bold; */
    font-size:  0.935em;
    font-family: 'Montserrat', sans-serif;
    color: #E3E3E3;
}

#audioPlayerCreatorName
{
    font-size: 0.935em;
    font-family: 'Open Sans', sans-serif;
    color: #E3E3E3;
}

.mainHeader
{
    padding-top: 5em;
}

button.appButton
{
    background-image: linear-gradient(#F95959, #EB0000);
    border: none;
}

div.details-column
{
    padding: 0em;
    padding-left: 0.5em;
}

div.cover-image
{
    padding: 0em;
    /* width: 50%; */
}

#mainSnackDiv > .snacks {
    display:flex;
    flex: 0 0 25%;
    max-width: 25%;
}

.snacks
{
    width: 16.625em;
    margin: 1em;
}

.snacks .thumbnail
{
    border: none;
   
}

.mainDiv
{
    margin-bottom: 12em;
}

.flex-nowrap {
    -webkit-flex-wrap: nowrap!important;
    -ms-flex-wrap: nowrap!important;
    flex-wrap: nowrap!important;
}
.flex-row {
    display:flex;
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -webkit-flex-direction: row!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.audioplayer
{
    background-color: #233142;
    border-bottom: 1px solid #E3E3E3;
    /* border-color: antiquewhite; */
    padding-top: 1em;
    padding-bottom: 1em;
}

.container-fluid.footerDiv
{
    padding: 0em;
}

.navbar-default.nav
{
    background-color: #233142;
}

.page-footer
{
    background-color: #233142;
}

.seek15button
{
    border: none;
}

.btn-default.play-button
{
    border: none;
    margin-top: 0.5em;
}

.btn-default.pause-button
{
    border: none;
    margin-top: 1em;
}

#seekbar
{
    margin-top: 1em;
}

.volumebar
{
    margin-top: 1em;
}

div.col-xs-2.col-sm-2.col-md-2.col-lg-2.currentTime
{
    margin-top: 1em;
    padding: 0em;
}


/* Below was code attempting to center and crop images but its not needed */
/* .mindsnack-img
{
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.mindsnack-img img
{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.mindsnack-img img.portrait
{
    width: 100%;
    height: auto;
}
.center-cropped {
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  } */